.jumbotron{
    margin-top: 50px;
}

.card-text2{
    position: absolute;
    top: 35%;
    left: 5%;

 }

 .card-title2{
    position: absolute;
    top: 20%;
    left: 40%;

 }

 .card-link2{
    position: absolute;
    top: 70%;
    left: 40%;
    color: white;
    box-shadow: rgba(1, 0.1, 0, 1);
    
 }

 .card-link2:hover{
    text-decoration: none;
    color: brown;
 }

 form:hover{
   -webkit-box-shadow: -3px 5px 11px 6px rgba(107,86,98,0.66);
   -moz-box-shadow: -3px 5px 11px 6px rgba(107,86,98,0.66);
   box-shadow: -3px 5px 11px 6px rgba(107,86,98,0.66);
 }

